.about-section {
    padding: 60px 0;
    text-align: center;
}

.about-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #ffffff;
}

.about-content {
    display: flex;
    flex-direction: column; /* Mobil için dikey */
    gap: 40px;
    align-items: center;
}

.about-text {
    text-align: left;
    line-height: 1.8;
    font-size: 1.1em;
    max-width: 800px;
    margin: 0 auto;
}

.about-text p {
    margin-bottom: 15px;
}

/* Responsive */
@media (min-width: 768px) {
    .about-content {
        flex-direction: row; /* Masaüstü için yatay */
        justify-content: center;
    }
    .about-text {
        width: 60%;
        text-align: left;
    }
    /* .about-image {
      width: 30%;
      text-align: center;
    } */
}