.portfolio-section {
    padding: 60px 0;
    text-align: center;
}

.portfolio-section h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #ffffff;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.portfolio-item {
    background-color: #2a2a2a;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
}

.portfolio-item:hover {
    transform: translateY(-5px);
}

.portfolio-item img {
    width: 100%;
    height: 200px; /* Sabit yükseklik */
    object-fit: cover; /* Resmi kutuya sığdırır */
    display: block;
}

.portfolio-content {
    padding: 20px;
    flex: 1; /* İçeriğin kalan alanı doldurmasını sağlar */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-content h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #f0f0f0;
}

.portfolio-content p {
    color: #aaa;
    margin-bottom: 20px;
}

.portfolio-links {
    display: flex;
    gap: 10px;
    margin-top: auto; /* Butonların en altta olmasını sağlar */
}

.project-btn {
    padding: 8px 15px;
    font-size: 0.9em;
    background-color: #454b40;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.project-btn:hover {
    background-color: #454b40;
}